.postFeed{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

.postFeed div input{
    width: 100%;
    height: 30px;
    margin: 1%;
}

.postFeed div textarea{
    width: 100%;
    height: 300px;
    margin: 1%;
}

.postFeed div button{
    margin: 1%;
    width: 25%;
    height: 30px;
    border: none;
    background-color: rgb(133, 170, 182);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 2px 1px 1px 1px rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    word-wrap: break-word;
}

.postFeed div p{
    margin: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    font-weight: 600;
}


.postFeed div button:active{
    box-shadow: none;
}